body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/*rotating button effect*/
#hoverCurtain {
  padding: 30px 60px;
  border: solid 4px #272727;
  font-size: 2rem;
  font-family: Helvetica;
  position: relative;
  text-decoration: none;
  color: #272727;
  overflow: hidden;
}

#hoverCurtain::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 1s;
}

#hoverCurtain:hover::before {
  transform: rotate(0deg);
}

/*swiping button effect*/
#hoverTranslate {
  padding: 30px 60px;
  border: solid 4px #272727;
  font-size: 2rem;
  font-family: Helvetica;
  position: relative;
  text-decoration: none;
  color: #272727;
  overflow: hidden;
  transition: all 1s;
}

#hoverTranslate::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition: all 1s;
}

#hoverTranslate:hover::before {
  transform: translate(0);
}

#hoverTranslate:hover {
  color: #eee;
}

/*cross button effect*/
#hoverCross {
  padding: 30px 60px;
  border: solid 4px #272727;
  font-size: 2rem;
  font-family: Helvetica;
  position: relative;
  text-decoration: none;
  color: #272727;
  transition: 1s;
}

#hoverCross::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #272727;
  transition: 1s;
  transform: rotateX(90deg);
  z-index: -1;
}

#hoverCross::after {
  content: "";
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  height: 100%;
  background-color: #272727;
  transition: 1s;
  transform: rotateY(90deg);
  z-index: -1;
}

#hoverCross:hover::before {
  transform: rotateX(0);
}

#hoverCross:hover::after {
  transform: rotateY(0);
}

#hoverCross:hover {
  color: white;
}

/*stretching button effect*/
#hoverStretch {
  text-decoration: none;
  padding: 30px 60px;
  color: #e1332d;
  border: 4px solid #e1332d;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 300;
  transition: all 0.5s;
}

#hoverStretch:hover {
  font-weight: 900;
  letter-spacing: 8px;
  border: 7px solid #e1332d;
}

/*top to bottom swipe effect*/
#hoverSwipe {
  text-decoration: none;
  padding: 30px 60px;
  color: #272727;
  font-size: 2rem;
  border: 4px solid #272727;
  font-family: sans-serif;
  position: relative;
  overflow: hidden;
}

#hoverSwipe::before {
  content: "YEAH!";
  background-color: #e1332d;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}

#hoverSwipe:hover::before {
  transform: translateY(0);
}
